.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $navbar-color;
  
    &__brand {
      padding: 0 1rem;
  
      &-logo {
        color: #fff;
        font-size: 1.5rem;
        font-weight: bold;
      }
    }
  
    &__list {
      display: flex;
      align-items: center;
      height: 60px;
  
      &-link {
        color: #fff;
        padding: calc(40px / 2) 1.5rem;
        font-weight: bold;
  
        &:hover {
          background-color: $secondary-color;
        }
  
        &:active {
          background-color: $secondary-color;
        }
      }
    }
  
    @media #{$mq-620-down} {
      &__brand-logo {
        font-size: 1rem;
        text-align: center;
      }
  
      &__list {
        height: 50px;
  
        &-link {
          padding-inline: 1rem;
        }
      }
    }
  }